<h1>Archive</h1>

<% @verses.each do |verse| %>
  <h3><%= link_to verse.reference, verse_path(verse) %></h3>
  <p><%= truncate(verse.scripture, length: 120) %></p>
<% end %>

<% if authenticated? %>
  <%= link_to "New Verse", new_admin_verse_path %>
<% end %>

<%= link_to "Home", root_path %>
